certifi==2025.10.5
cfgv==3.4.0
charset-normalizer==3.4.4
coverage==7.10.7
distlib==0.4.0
filelock==3.20.0
identify==2.6.15
idna==3.11
iniconfig==2.1.0
mypy==1.18.2
mypy_extensions==1.1.0
nodeenv==1.9.1
numpy==2.2.6
opencv-python==4.12.0.88
packaging==25.0
pathspec==0.12.1
platformdirs==4.5.0
pluggy==1.6.0
polyline==2.0.3
pre_commit==4.3.0
Pygments==2.19.2
pytest==8.4.2
pytest-cov==7.0.0
pytest-mock==3.15.1
pytest-timeout==2.4.0
PyYAML==6.0.3
requests==2.32.5
ruff==0.14.0
-e git+https://github.com/tomazb/GoogleStreetViewDrivingSimulator.git@517509b2fd861fb5f646ae53eadcb469cad658ab#egg=streetview_simulator
tqdm==4.67.1
types-requests==2.32.4.20250913
typing_extensions==4.15.0
urllib3==2.5.0
virtualenv==20.35.3
